default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: postgres
  encoding: utf8

development:
  <<: *default
  database: curem_development  

test:
  <<: *default
  database: curem_test

production:
  <<: *default
  database: curem